@import 'reset';
@import 'vars';

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.6rem;
  color: var(--dark-color);
}

.hidden {
  display: none;
}

button {
  border: none;
  background-color: white;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

}

.button-disabled {
  opacity: .5;

  &:hover {
    cursor: default;
  }
}

a {
  text-decoration: none;
}

.red-back-btn {
  margin: 1rem 0 0 2rem;
  display: inline-block;
  border: .1rem solid red;
  background-color: color(red a(.5));
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.homepage {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #ff5c58, #ff5c58 43.5%, transparent 43.5%);

  &::before {
    display: block;
    content: '';
    width: 63.9rem;
    height: 63.9rem;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/svg/paperplane_rotate.svg) no-repeat bottom left;
    animation: paperplane-rotate 25s infinite linear;
    transform-origin: center center;
    margin: -32.3rem -13.75rem 0 0;
    z-index: -1;
  }

  &::after {
    display: block;
    content: '';
    width: 100vw;
    height: 100vh;
    background: url(../assets/svg/homepage_map.svg) no-repeat top right, url(../assets/svg/homepage_colliseum.svg) no-repeat bottom right;
    position: absolute;
    z-index: -2;
  }

  &__img01 {
    width: 45vw;
    height: 98vh;
    margin-right: 6rem;
    margin-top: 1.8rem;
    object-fit: cover;
    object-position: center right;
    border-right: 2px solid red;
    border-top: 2px solid red;
  }

  &__container {
    width: 59rem;
    margin-left: 0;

    &-link {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 5rem;
    font-family: denmark;
    font-weight: bold;
    margin-bottom: 3rem;
    padding-top: 1rem;
  }

  &__subtitle {
    font-size: 2.7rem;
    border-left: .1rem solid #ff5c58;
    padding-left: 2rem;
    margin-bottom: 2rem;
  }

  &__introtext {
    font-size: 2.2rem;
    line-height: 140%;
    padding-bottom: 3rem;
  }

  &__create-btn {
    border-radius: 0;
    box-shadow: none;
    background: color(red a(.6));
    border: 1px solid red;
    font-size: 3rem;
    padding: 1.5rem 8rem 1.5rem 3rem;
    text-transform: uppercase;
    color: white;
    position: relative;
    cursor: pointer;

    &::after {
      display: block;
      position: absolute;
      right: -13rem;
      top: -13.6rem;
      content: '';
      width: 19.5rem;
      height: 19rem;
      background: url(../assets/svg/paperplane01.svg) no-repeat;
    }

    &:hover {
      background: color(red a(.7));
    }
  }

  &__discover-btn {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    color: color(red a(.6));
    text-decoration: underline;
    text-align: center;
    width: 52.7rem;
  }

  &__link-msk {
    color: color(red a(.6));
    font-family: denmark-bold;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
  }
}

.create {

  &__container {
    z-index: -3;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__back-btn {
    display: inline-block;
    margin: 1rem 0 0 2rem;
    text-transform: uppercase;
    color: white;
    font-size: 2.4rem;
    padding: 1rem;
    border: .1rem solid white;
  }

  &__map {

    &__title-container {
      z-index: 3;
      position: fixed;
    }

    &__title {
      text-align: right;
      width: 38rem;
      margin-left: 5vw;
      margin-top: 5rem;
      font-size: 3.3rem;
      font-family: denmark;
      font-weight: bold;
      color: #322d2d;
    }

    &__annotation:hover {
      cursor: pointer;
    }

  }

  &__right {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    width: 48vw;
  }

  &__detail {
    position: relative;
    left: -1rem;
    border: .1rem solid red;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &-no-selected {
      height: 30vh;
    }

    &__title {
      font-size: 3rem;
      margin-bottom: 1.6rem;
    }

    &__add-btn {
      border: .12rem solid red;
      background-color: color(red a(.5));
      color: white;
      font-size: 2.2rem;
      width: 80%;
      margin: 2rem 0 1rem;
      align-self: center;
    }

  }

  &__loved {
    align-self: center;
    width: 40vw;

    &__title {
      font-family: denmark;
      font-size: 3rem;
      font-weight: bold;
    }

    &__item {
      height: 3.2rem;
      margin-top: 1.2rem;
      display: flex;
      justify-content: space-between;
      border-bottom: .1rem solid red;
    }

    &__city {
      font-size: 2rem;
    }

    &__delete {
      font-size: 2rem;
      font-family: denmark;
      font-weight: bold;
      color: red;
    }

  }

  &__next {

    &-container {
      align-self: flex-end;
    }

    align-self: right;
    font-size: 2.7rem;
    text-transform: uppercase;
    color: white;
    background-color: color(red a(.5));
    border: .1rem solid red;

  }

}

.mapboxgl-map {
  position: fixed;
  top: 0;
  left: 0;
}

.stats {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 4.5rem;
    font-family: denmark;
    font-weight: bold;
  }

}

@keyframes paperplane-rotate {

  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }
}
